* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    background: #FD6E0A;
    color: #ffffff;

}

/* header and nevigation style */
.header {
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* header image section */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;

}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}

.banner-dis {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* about section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    padding: 0 200px;
    background-color: #FFF8F3;
    padding: 90px 180px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center
}

/* about-info-container section style */

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what I do style */

.what-i-do {
    margin-top: 130px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-container {
    display: flex;
    gap: 25px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* resume style */
.resume {
    margin-top: 130px;
    margin-bottom: 50px;
}

.resume-content {
    display: flex;
    gap: 20px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}

.resume-button{
    margin-top: 40px;
    text-align: center;
}